body {
    background-color: grey;
}

table {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
}

canvas {
    box-shadow: black 20px 10px 50px;
    border-radius: 20px;
}

#style {
    margin: 10px;
    color: yellow;
    font-family: Helvetica;
    font-size: 16px;
    background-color: rgba(8, 207, 252, 0.66);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}
h1 {
    margin: 0;
    font-size: 60px;
    font-family: Helvetica;
    color: white;
}